<%= content_for :title do %> Profile <% end %>
<div class="center">
  <div class="search">
              <p>Search for a user here</p>
              <%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Profiles" %>
              <%= submit_tag "Search", :name => nil %>
              <% end %>
  </div>
  <div id="top_text">
    <p>To list a new product, view your profile and select 'New Product' - be sure to connect to stripe first!</p>
    <p>By default, we show just your profile first.  To view others, please enter search paramater in the search box</p>
    <p>For security, we will only show you a users username, first name and postcode on any profile that is not yours</p>
  </div>
  <div class="profile_grid">
    <% @profiles.each do |profile| %>
    <div class="profile_holder">
      <p>Username: <%= profile.username %></p>
      <p>First Name: <%= profile.first_name %></p>
      <p>Post Code: <%= profile.postcode %></p>
      <%= link_to 'View More', profile %>
    </div>
    <% end %>
  </div>

</div>

