<%= content_for :title do %> Profile <% end %>
<div class="center">
  <div class="search">
              <p>Search for a user here</p>
              <%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Profiles" %>
              <%= submit_tag "Search", :name => nil %>
              <% end %>
  </div>
  <br><br><br>
  
  <div class="profile_grid">

  
    <% @profiles.each do |profile| %>
    <div class="profile_holder">
      <p>Product name: <%= product.product_name %></p>
      <p>Price $/(KG/Unit): <%= product.price %></p>
      <%= link_to 'View More', product %>
    </div>
    <% end %>
  </div>


  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>First name</th>
        <%# <th>Last name</th> %>
        <%# <th>Street address</th> %>
        <%# <th>Suburb</th> %>
        <th>Postcode</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.id %></td>
          <td><%= profile.username %></td>
          <td><%= profile.first_name %></td>
          <%# <td><%= profile.last_name</td> %>
          <%# <td><%= profile.street_address %>
          <%# <td><%= profile.suburb %>
          <td><%= profile.postcode %></td>
          <td><%= link_to 'Show', profile %></td>
          <%# <td><%= link_to 'Edit', edit_profile_path(profile) %>
          <%# <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

