<%= content_for :title do %> View Profile <% end %>
<div class="center">
<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>
<% if @profile.user == current_user %>
<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @profile.street_address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @profile.suburb %>
</p>
<% end %>
<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<% if @profile.user == current_user %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>
</div>