<li class="ligri">
  <p><strong>Subject: <%= link_to conversation.subject, conversation_path(conversation) %></strong></p>
   <p><%= "From: " %> <%= render 'conversations/participants', conversation: conversation %></p>
    <div class="btn-group-vertical pull-right">
    <% if conversation.is_trashed?(current_user) %>
      <%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
    <% else %>
      <small><%= link_to 'Delete', conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                  data: {confirm: 'Are you sure?'} %></small>
      <% end %>
    
  </div>
    <p>
      <strong><small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</strong></small></p>
</li>


