<%= content_for :title do %> <%= "Messages" %> <% end %>

<p class="center top_text">This service is primarily designed to help customers reach sellers for questions about past and future orders.  To start messaging, click 'New Message' and select the user you wish to chat to!</p>



<div class="mes_cont">
  <div class="folders borders">
  
            <ul>
              <p><%= link_to 'New Message', new_message_path, class: 'btn btn-lg btn-primary' %></p>
              <%= mailbox_section 'inbox', @box %>
              <%= mailbox_section 'sent', @box %>
              <%= mailbox_section 'trash', @box %>
              <% if @box == 'trash' %>
                <%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                    data: {confirm: 'Are you sure?'} %>
              <% end %>
            </ul>
  </div>


  <div class="mes_list">
    <ul class="borders">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </ul>
  </div>


</div>