<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <img src="https://s3.us-east-2.amazonaws.com/farmtable/assets/Farm_to_Table.png" alt="Farm To Table Logo" title="Logo">
<br>
    <h1>Here is your receipt for your recent order on FarmToTable, <%= @buyer.profile.first_name %></h1>
    <p>
      The seller has received details of your order, you need not do anything now.  Make sure your shipping address below is correct.
      <br>
      If there is anything amiss below, please contact the seller directly to resolve any issues.  We will only step in if you're unable to resolve the issue and one of the involved parties raises a support ticket with us.
    </p>
    <p>
    <ul>
      <li>Product Name: <%= @product.product_name %></li>
      <li>Quantity Purchased: <%= @quantity %></li>
      <li>Total Amount Charged: <%= @amount %></li>
      <br><br>
      <li>Buyers First Name: <%= @buyer.profile.first_name %>
      <li>Buyers Last Name: <%= @buyer.profile.last_name %>
      <li>Buyers Email: <%= @buyer.email %></li>
      <li>Buyers Address: <%= @buyer.profile.street_address %></li>
      <li>Suburb: <%= @buyer.profile.suburb %></li>
      <li>Postcode: <%= @buyer.profile.postcode %></li>
      <br><br>
      <li>Stripe Payment Token (REF): <%= @token %> </li>
    </ul>

    <ul>
        <li>Seller Name: <%= (@owner.profile.first_name) + (@owner.profile.last_name) %> </li>
        <li>Seller Email: <%= @owner.email %>
    </ul>

    </p>
    <p>Thanks for buying with us, have a great day!</p>
  </body>
</html>
