<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="https://s3.us-east-2.amazonaws.com/farmtable/assets/Farm_to_Table.png" alt="Farm To Table Logo" title="Logo">
<br>
    <h1>You have just received an order, <%= @owner.profile.first_name %></h1>
    <p>
      You now need to ship the product to the buyer.  Their details are listed below with the product they ordered.
      If you have any questions, please raise a support ticket on farmtotable!
    </p>
    <br>
    
  <table>
    <tr>
      <th>Product Name</th>
      <th>Quantity Purchased</th> 
      <th>Total Amount Charged</th>
    </tr>
    <tr>
      <td><%= @product.product_name %></td>
      <td><%= @quantity %></td>
      <td><%= @amount / 100 %></td> 
    </tr>
  </table>
  <br><br>
  <table>
    <tr>
      <th>Buyers First Name</th>
      <th>Buyers Last Name</th>
      <th>Buyers Email</th>
      <th>Buyers Address</th>
      <th>Suburb</th>
      <th>Postcode</th>
      <th>---</th>
      <th>Stripe Payment Token</th>
    </tr>
    <tr>
      <td><%= @buyer.profile.first_name %></td>
      <td><%= @buyer.profile.last_name %></td>
      <td><%= @buyer.email %></td>
      <td><%= @buyer.profile.street_address %></td>
      <td><%= @buyer.profile.suburb %></td>
      <td><%= @buyer.profile.postcode %></td>
      <td>---</td>
      <td><%= @token %></td>
    </tr>
  </table>

    <br>
    <p>Thanks for selling with us, have a great day!</p>
  </body>
</html>
