<div class="center">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label "Price $" %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label "Shipping $" %>
    <%= form.text_field :shipping %>
  </div>

  <div class="field">
  <%= form.label :category %>
  <%= form.select :category, ['Fruit', 'Vegetables', 'Dairy', 'Speciality - All', 'Baked Goods', 'Home Cooking', 'Ready to Eat - All', 'Plants/Seeds', 'Livestock - Feed', 'Livestock - Other', 'Farm Supplies - All', 'Other - All']%>
  </div>

  <div class="field">
    <%= form.label "Product Image" %>
    <%= form.file_field :product_img %>
  </div>

  <div class="field">
    <%= hidden_field_tag :stripe_id, %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', products_path %>
</div>