<%= content_for :title do %> Products <% end %>


<div class="product_grid">

  
    <% @products.each do |product| %>
    <div class="product_holder">
      <p> <% if product.product_img? %>
            <%= image_tag product.product_img.url %>
          <% end %></p>
      <p>Product name: <%= product.product_name %></p>
      <p>Price $/(KG/Unit): <%= product.price %></p>
      <%= link_to 'View More', product %>
    </div>
    <% end %>
</div>
<br>

<%= link_to 'New Product', new_product_path %>
