<%= content_for :title do %> Products <% end %>
 <div class="mobsearch">
            <%= form_tag(products_path, :method => "get") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
            <%= submit_tag "Search", :name => nil %>
            <% end %>
  </div>
<%= render "layouts/sidecat" %>

<div class="product_grid">

  
    <% @products.each do |product| %>
    <div class="product_holder">
      <p> <% if product.product_img? %>
            <%= image_tag product.product_img.url %>
          <% end %></p>
      <p>Product name: <%= product.product_name %></p>
      <p>Price $/(KG/Unit): <%= product.price %></p>
      <%= link_to 'View More', product %>
    </div>
    <% end %>
</div>
<br>
