<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
<strong>Product Image:</strong>
  <% if @product.product_img? %>
      <%= image_tag @product.product_img.url %>
    <% end %>
</p>

<% if @product.user == current_user %>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %>

<%= link_to 'Back', products_path %>
