<%= content_for :title do %> <%= @product.product_name %> <% end %>
<div class="center edit">
<% if @product.user == current_user %>
  <%= link_to 'Edit Product', edit_product_path(@product) %>
<% end %>
</div>
<br>

<div class="prod_image">
  <% if @product.product_img? %>
      <%= image_tag @product.product_img.url %>
    <% end %>
</div>
<p class="products">
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p class="products">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p class="products">
  <strong>Quantity Available:</strong>
  <%= @product.quantity %>
</p>

<p class="products">
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p class="products">
  <strong>Unit:</strong>
  <%= @product.units %>
</p>

<p class="products">
<strong>Shipping:</strong>
<%= @product.shipping %>
</p>

<p class="products">
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<% @amount = ((@product.price + @product.shipping) * 100) %>

<% if @product.user != current_user %>
<% if user_signed_in? %>

<div class="products">
<%= form_tag charges_path do %>
<%= hidden_field_tag "product_id", "#{@product.id}" %>
<%= label_tag(:quantity, 'Quantity Required:') %>
    <%= number_field_tag(:quantity) %>
 <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js',
   class: 'stripe-button',
   data: {
     key: ENV["PUBLISHABLE_KEY"],
     amount: "",
     name: "Farm-to-Table",
     description: @product.product_name,
     image: "https://stripe.com/img/documentation/checkout/marketplace.png",
     locale: "auto",
     currency: "aud"
   }
 %>
<% end %>
<% end %>
</div>

<% end %>




<%= link_to 'Back', products_path %>
