<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Pontano+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>


  </head>

  <body>
  <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
