<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Pontano+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <meta name="Description" content="Farm to Table is the answer Australia has been looking for when it comes to fresh produce">
    <meta name="Keywords" content="Fruit,Vegetables,Farm,Fresh,Food,Produce,Easy,Farm To Table">
    <meta name="author" content="Lewis Coldwell">


  </head>

  <body>
  <%= render "layouts/navbar" %>
  <%# RESOLVE POSITIONING OF NOTICE %>
    <div class="alerts">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>

  <footer>Farm To Table pty &copy</footer>
</html>
